* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "BIZ UDGothic", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}


.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.user-name {
  gap: 1.0rem;
}

#change-name-btn {
  padding: 0rem 0.5rem;
  font-weight: 700;
  color: #007bff;
  cursor: pointer;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

#change-name-btn:hover {
  background-color: #e9e9e9;
  border-color: #aaa;
}

.header-title-center {
  text-align: center;
  flex-grow: 1; /* 中央部分の幅を可能な限り広げることで、中央を維持する */
}

.achievements-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.achievements-link:hover {
    color: #0056b3;
}

.selection-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.selection-title {
  font-size: 1.3rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.level-title,
.questions-title {
  font-size: 1.1rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 0.5rem;
  
}

.level-selection,
.questions-selection,
.mode-selection {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.mode-selection {
  margin-bottom: 0rem;
}

.selection-container button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: all 0.3s ease; /*0.3*/
}

.mode-selection button {
  padding: 1rem 2rem;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}

.selection-container button:hover {
    background-color: #e9e9e9;
    border-color: #aaa;
}

.mode-selection button:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.selection-container button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
    transform: translateY(0px); /*-2*/
}

.mini-text {
  font-size: 0.8rem;
}

.split-line {
  display: flex;
  width: 90%;
  border-bottom: 1.5px solid #ddd;
  margin: 2rem auto;
}

@media (max-width: 600px) {
    .game-header {
        flex-direction: column;
        gap: 10px;
    }
    .user-info {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
  
    .questions-selection,
    .mode-selection,
    .level-selection {
        flex-direction: column;
        gap: 10px;
    }
    button {
        width: 80%;
        margin: 0 auto;
    }
}
